<section id="about_us">
    <div class="container about_us">
        <img src="/img/icon_1.png" alt="There should be icon 1">
        <h1><span class="gene">A NEW GENERATION</span> OF VINTAGE BIKE</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
</section>