<section id="footer">
    <div class=" footer">
        <div class="address">
            <p class="city">AOD New York</p>
            <p class="street">2250 Lexington Avenue </p>
            <p class="street">New York, NY 10035  - info@domain.com</p>
        </div>
        <div class="social_networks">
            <img src="./img/twitter.png" alt="Twitter"><img src="./img/facebook.png" alt="Facebook"><img src="./img/pi.png" alt="Pi">
        </div>
        <div class="designer">
            <p>Handcrafted by</p><img src="./img/yebologo.png" alt="Yebologo">
        </div>
    </div>
</section>