<section id="top">
    <div class="top-bg">
        <nav class="nav_menu">
            <ul>
                <li><a href="#about_us">About us</a></li>
                <li><a href="#work">Work</a></li>
                <li>
                    <a href="/">
                        <img src="./img/Logo.png" alt="There should be logo">
                    </a>
                </li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#mailing">Contact</a></li>
            </ul>
        </nav>
    </div>
</section>