<section id="work">
    <div class="bikes_row first">
        <div class="layer one"></div>
        <div class="layer two"></div>
        <div class="card_container">
            <img src="./img/icon_2.png" alt="There should be icon">
            <h2>vintage Oliva</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</p>
        </div>
    </div>
    <div class="bikes_row second">
        <div class="layer one"></div>
        <div class="layer two"></div>
        <div class="card_container">
            <img src="./img/icon_3.png" alt="">
            <h2>La Boriosa</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</p>
        </div>
    </div>
    <div class="bikes_row third">
        <div class="layer one"></div>
        <div class="layer two"></div>
        <div class="layer three"></div>
        <div class="card_container">
            <img src="./img/icon_4.png" alt="">
            <h2>retrò Bike - M. Hulot</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.</p>
        </div>
    </div>
</section>