#about_us{
  background-color: #f7f7f7f7;
}

.about_us{
  height: 483px;
  padding: 100px 40px;
  position: relative;
  text-align: center;
  & > h1{
    color: #353738;
    font-size: $header-size;
    font-weight: 700;
    text-transform: uppercase;
    & > .gene{
      letter-spacing: 3.6px;
    }
  }
  & > p{
    color: #848789;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
  }

}