$header-size: 18px;
$header-weight: 700;




*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato;
}
a {
  color: #0060B6;
  text-decoration: none;
}

a:hover
{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

ul{
  margin: 0;
  list-style-type: none;
}


.container{
  max-width: 1600px;
  width: 69%;
  position: relative;
  margin: 0 auto;
}