#footer{
  width: 100%;
  height: 250px;
  background-color: #f7f7f7;

}

.footer{
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  //contact info
  & > .address{
    color: #848789;
    & > .city{
      font-size: 16pt;
    }
    & > .street{
      font-style: italic;
      font-size: 13.9pt;
    }
  }
  // social
  & > .social_networks{
    & img{
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  & > .designer{
    display: flex;
    align-items: center;
    align-content: center;
    & > p{
      font-style: italic;
      font-size: 13.9pt;
      color: #848789;
      margin-right: 10px;
    }
  }



}