.aod{
  text-transform: lowercase;
}

.city{
  text-transform: capitalize;
}
.mins{
  margin-left: 3px;
  text-transform: lowercase;
  font-family: "Lato Light";
  color: #848789;
  letter-spacing: 0.2em;
}